In [4]:
import pandas as pd 
import numpy as np 
import seaborn as sb

In [24]:
df = pd.read_csv('Heart.csv')
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

DATA CLEANING

In [25]:
df.isna().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [26]:
df1 = df.fillna(method='bfill')
df1

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

DATA INTEGRATION

In [28]:
df2 = df1[['Age','Sex','RestBP','MaxHR']].loc[0:50]
df2.head()

   Age  Sex  RestBP  MaxHR
0   63    1     145    150
1   67    1     160    108
2   67    1     120    129
3   37    1     130    187
4   41    0     130    172

In [30]:
df3 = df1[['Age','Sex','Oldpeak','Chol','Ca']].loc[50:100]
df3.head()

    Age  Sex  Oldpeak  Chol   Ca
50   41    0      0.0   198  1.0
51   65    1      0.4   177  0.0
52   44    1      0.0   290  1.0
53   44    1      0.0   219  0.0
54   60    1      1.4   253  1.0

In [31]:
df4 = df1[['Age','Sex','RestECG','Thal']].loc[100:150]
df4.head()

     Age  Sex  RestECG        Thal
100   45    1        2      normal
101   34    1        2      normal
102   57    0        2      normal
103   71    0        2      normal
104   49    1        0  reversable

DATA TRANSFORMATION

In [33]:
df1.loc[df1['Sex']==1,'Sex']='M'
df1.loc[df1['Sex']==0,'Sex']='F'
df1

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,M,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,M,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,M,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,M,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,F,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,M,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,M,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,M,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,F,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,M,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No